[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = 'tox'
build = 'python setup.py sdist bdist_whell'
publish = 'twine upload -r pypi dist'

[dev-packages]
tox = "*"
subfinder = {path = ".", editable = true}
twine = "*"

[packages]
requests = "*"
lxml = "*"
"bs4" = "*"
gevent = "*"
rarfile = "*"
six = "*"

[requires]
python_version = "2.7"
