[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.doubanio.com/simple/"
verify_ssl = true
name = "douban"

[scripts]
test = 'tox'
build = 'python setup.py sdist bdist_wheel'
publish = 'twine upload -r pypi dist/*'

[dev-packages]
tox = "*"
twine = "*"
pyinstaller = "*"
"autopep8" = "*"
rope = "*"
subfinder = {editable = true,path = "."}

[packages]
requests = ">=2.20.0"
lxml = "*"
"bs4" = "*"
gevent = "*"
rarfile = "*"
six = "*"
